In [24]:
import pandas as pd

Import all the files

In [50]:
visits = pd.read_csv('visits.csv',
                     parse_dates=[1])
cart = pd.read_csv('cart.csv',
                   parse_dates=[1])
                   
checkout = pd.read_csv('checkout.csv',
                       parse_dates=[1])
purchase = pd.read_csv('purchase.csv',
                       parse_dates=[1])
purchase

                                  user_id       purchase_time
0    4b44ace4-2721-47a0-b24b-15fbfa2abf85 2017-05-11 04:25:00
1    02e684ae-a448-408f-a9ff-dcb4a5c99aac 2017-09-05 08:45:00
2    4b4bc391-749e-4b90-ab8f-4f6e3c84d6dc 2017-11-20 20:49:00
3    a5dbb25f-3c36-4103-9030-9f7c6241cd8d 2017-01-22 15:18:00
4    46a3186d-7f5a-4ab9-87af-84d05bfd4867 2017-06-11 11:32:00
..                                    ...                 ...
247  278c0f3c-d092-4e7f-b97b-97cc9d57c1c2 2017-01-05 02:45:00
248  952be3a5-9240-484f-845c-a6b2cbed72ee 2017-05-02 06:10:00
249  27e5a297-332d-4e8b-8e2a-b97ae8c5b6f9 2017-09-04 17:39:00
250  4b04c692-d814-45bd-854a-000e0ef4e92a 2017-06-20 17:28:00
251  c62fdf2f-3b30-4624-8463-d3961e687997 2017-11-21 23:00:00

[252 rows x 2 columns]

Step 1: Inspect the DataFrames using `print` and `head`

In [26]:
print(visits.head(5))
print(cart.head(5))
print(checkout.head(5))
print(purchase.head(5))

                                user_id          visit_time
0  943647ef-3682-4750-a2e1-918ba6f16188 2017-04-07 15:14:00
1  0c3a3dd0-fb64-4eac-bf84-ba069ce409f2 2017-01-26 14:24:00
2  6e0b2d60-4027-4d9a-babd-0e7d40859fb1 2017-08-20 08:23:00
3  6879527e-c5a6-4d14-b2da-50b85212b0ab 2017-11-04 18:15:00
4  a84327ff-5daa-4ba1-b789-d5b4caf81e96 2017-02-27 11:25:00
                                user_id           cart_time
0  2be90e7c-9cca-44e0-bcc5-124b945ff168 2017-11-07 20:45:00
1  4397f73f-1da3-4ab3-91af-762792e25973 2017-05-27 01:35:00
2  a9db3d4b-0a0a-4398-a55a-ebb2c7adf663 2017-03-04 10:38:00
3  b594862a-36c5-47d5-b818-6e9512b939b3 2017-09-27 08:22:00
4  a68a16e2-94f0-4ce8-8ce3-784af0bbb974 2017-07-26 15:48:00
                                user_id       checkout_time
0  d33bdc47-4afa-45bc-b4e4-dbe948e34c0d 2017-06-25 09:29:00
1  4ac186f0-9954-4fea-8a27-c081e428e34e 2017-04-07 20:11:00
2  3c9c78a7-124a-4b77-8d2e-e1926e011e7d 2017-07-13 11:38:00
3  89fe330a-8966-4756-8f7c-3bdbcd47279a 2017-04-20 16:15:00
4  3ccdaf69-2d30-40de-b083-51372881aedd 2017-01-08 20:52:00
                                user_id       purchase_time
0  4b44ace4-2721-47a0-b24b-15fbfa2abf85 2017-05-11 04:25:00
1  02e684ae-a448-408f-a9ff-dcb4a5c99aac 2017-09-05 08:45:00
2  4b4bc391-749e-4b90-ab8f-4f6e3c84d6dc 2017-11-20 20:49:00
3  a5dbb25f-3c36-4103-9030-9f7c6241cd8d 2017-01-22 15:18:00
4  46a3186d-7f5a-4ab9-87af-84d05bfd4867 2017-06-11 11:32:00

Step 2: Left merging visits and cart

In [27]:
visits_cart = pd.merge(visits, cart, how='left')
visits_cart

,user_id,visit_time,cart_time
0,943647ef-3682-4750-a2e1-918ba6f16188,2017-04-07 15:14:00,NaT
1,0c3a3dd0-fb64-4eac-bf84-ba069ce409f2,2017-01-26 14:24:00,2017-01-26 14:44:00
2,6e0b2d60-4027-4d9a-babd-0e7d40859fb1,2017-08-20 08:23:00,2017-08-20 08:31:00
3,6879527e-c5a6-4d14-b2da-50b85212b0ab,2017-11-04 18:15:00,NaT
4,a84327ff-5daa-4ba1-b789-d5b4caf81e96,2017-02-27 11:25:00,NaT
...,...,...,...
1995,33913ac2-03da-45ae-8fc3-fea39df827c6,2017-03-25 03:29:00,NaT
1996,4f850132-b99d-4623-80e6-6e61d003577e,2017-01-08 09:57:00,NaT
1997,f0830b9b-1f5c-4e74-b63d-3f847cc6ce70,2017-09-07 12:56:00,NaT
1998,b01bffa7-63ba-4cd3-9d93-eb1477c23831,2017-07-20 04:37:00,NaT
1999,0336ca81-8d68-443f-9248-ac0b8ad147d5,2017-11-15 10:11:00,NaT

Step 3: How long is `visits_cart`?

In [28]:
total_visits = len(visits_cart)
total_visits

2000

Step 4: How many timestamps are null for `cart_time`?

In [29]:
empty_cart_time = sum(1  if pd.isnull(row['cart_time']) else 0 for index, row in visits_cart.iterrows())
empty_cart_time

1652

Step 5: What percentage only visited?

In [30]:
percent_visited = (empty_cart_time / total_visits) * 100
print(f"Only visited {percent_visited}%.")

Only visited 82.6%.

Step 6: What percentage placed a t-shirt in their cart but did not checkout?

visits lists all of the users who have visited the website
cart lists all of the users who have added a t-shirt to their cart
checkout lists all of the users who have started the checkout
purchase lists all of the users who have purchased a t-shirt

In [37]:
in_cart_but_no_checkout = pd.merge(cart, checkout, how='left')
did_not_checkout = (sum(1 if pd.isnull(row['checkout_time']) else 0 for i, row in in_cart_but_no_checkout.iterrows())  / len(in_cart_but_no_checkout)) * 100

35.05747126436782

Step 7: Merge it all together

In [57]:
all_data = visits_cart.merge(in_cart_but_no_checkout, how='left')
print(all_data.head())

                                user_id          visit_time  \
0  943647ef-3682-4750-a2e1-918ba6f16188 2017-04-07 15:14:00
1  0c3a3dd0-fb64-4eac-bf84-ba069ce409f2 2017-01-26 14:24:00
2  6e0b2d60-4027-4d9a-babd-0e7d40859fb1 2017-08-20 08:23:00
3  6879527e-c5a6-4d14-b2da-50b85212b0ab 2017-11-04 18:15:00
4  a84327ff-5daa-4ba1-b789-d5b4caf81e96 2017-02-27 11:25:00

            cart_time       checkout_time
0                 NaT                 NaT
1 2017-01-26 14:44:00 2017-01-26 14:54:00
2 2017-08-20 08:31:00                 NaT
3                 NaT                 NaT
4                 NaT                 NaT

Step 8: % of users who got to checkout but did not purchase

In [56]:
checkout_not_purchased = checkout.merge(purchase, how='left')
checkout_not_purchased_percent = (sum(1 if pd.isnull(row['purchase_time']) else 0 for i, row in checkout_not_purchased.iterrows())  / len(checkout_not_purchased)) * 100
checkout_not_purchased_percent

24.550898203592812

Step 9: check each part of the funnel, let's print all 3 of them again

In [48]:
print(f"Percent olny visited: {percent_visited}%\nPercent who did not checkout: {did_not_checkout:.2f}%\nPercent who did not purchased: {checkout_not_purchased_percent:.2f}%")

Percent olny visited: 82.6%
Percent who did not checkout: 35.06%
Percent who did not purchased: 24.55%

*The weakest part of the funnel is clearly getting a person who visited the site to add a tshirt to their cart. Once they've added a t-shirt to their cart it is fairly likely they end up purchasing it. A suggestion could be to make the add-to-cart button more prominent on the front page.*


Step 10: adding new column

In [60]:
all_data = pd.merge(all_data,purchase , how='left')

all_data['total_time'] = all_data['purchase_time'] - all_data['visit_time']
print(all_data)

                                   user_id          visit_time  \
0     943647ef-3682-4750-a2e1-918ba6f16188 2017-04-07 15:14:00
1     0c3a3dd0-fb64-4eac-bf84-ba069ce409f2 2017-01-26 14:24:00
2     6e0b2d60-4027-4d9a-babd-0e7d40859fb1 2017-08-20 08:23:00
3     6879527e-c5a6-4d14-b2da-50b85212b0ab 2017-11-04 18:15:00
4     a84327ff-5daa-4ba1-b789-d5b4caf81e96 2017-02-27 11:25:00
...                                    ...                 ...
2111  33913ac2-03da-45ae-8fc3-fea39df827c6 2017-03-25 03:29:00
2112  4f850132-b99d-4623-80e6-6e61d003577e 2017-01-08 09:57:00
2113  f0830b9b-1f5c-4e74-b63d-3f847cc6ce70 2017-09-07 12:56:00
2114  b01bffa7-63ba-4cd3-9d93-eb1477c23831 2017-07-20 04:37:00
2115  0336ca81-8d68-443f-9248-ac0b8ad147d5 2017-11-15 10:11:00

               cart_time       checkout_time       purchase_time  \
0                    NaT                 NaT                 NaT
1    2017-01-26 14:44:00 2017-01-26 14:54:00 2017-01-26 15:08:00
2    2017-08-20 08:31:00                 NaT                 NaT
3                    NaT                 NaT                 NaT
4                    NaT                 NaT                 NaT
...                  ...                 ...                 ...
2111                 NaT                 NaT                 NaT
2112                 NaT                 NaT                 NaT
2113                 NaT                 NaT                 NaT
2114                 NaT                 NaT                 NaT
2115                 NaT                 NaT                 NaT

          total_time
0                NaT
1    0 days 00:44:00
2                NaT
3                NaT
4                NaT
...              ...
2111             NaT
2112             NaT
2113             NaT
2114             NaT
2115             NaT

[2116 rows x 6 columns]

Step 11: examine the results

Step 12: average time to purchase

In [61]:
average_time_to_purchase = all_data['total_time'].mean()
average_time_to_purchase

Timedelta('0 days 00:43:21.230769230')